body {
  background-color: black;
}

p {
  text-align: center;
  margin-top: 15%;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
}

/*This is the style for our boxs' container. With it we can position and center the boxes in the browser.*/

#instrument {
  height: 116px;
  width: auto;
  padding-right: 10px;
  padding-top: 0px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 22%;
  right: 0;
}

/*This is the style that give our music boxes shape*/

.box {
  border-radius: 5px;
  text-align: center;
  font-size: 40px;
  color: white;
  font: 'Josefin Sans', sans-serif;
  width: 50px;
  height: 100px;
  float: left;
  margin-left: 10px;
}
/*These are the styles that individually color our boxes and also determine the hover and active states*/

#ab1:hover {
  background-color:#661920;
  cursor: pointer;

}

#ab1:active {
  background-color:#db1d2d;
}

#ab1 {
  background-color: #3e181b;
  border: 5px #db1d2d;
  border-style: outset;
}





#bb1:hover {
  background-color:#6e2819;
  cursor: pointer;

}

#bb1:active {
  background-color:#f0421c;
}

#bb1 {
  background-color: #422018;
  border: 5px #f0421c;
  border-style: outset;
}





#c1:hover {
  background-color:#735b20;
  cursor: pointer;
}

#c1:active {
  background-color:#fec02d;
}

#c1 {
  background-color: #45391b;
  border: 5px #fec02d;
  border-style: outset;
}





#db1:hover {
  background-color:#1b613b;
  cursor: pointer;
}

#db1:active {
  background-color:#20d071;
}

#db1 {
  background-color: #193c29;
  border: 5px #20d071;
  border-style: outset;
}





#eb1:hover {
  background-color:#184d65;
  cursor: pointer;
}

#eb1:active {
  background-color:#1a9ddb;
}

#eb1 {
  background-color: #18323e;
  border: 5px #1a9ddb;
  border-style: outset;
}





#f1:hover {
  background-color:#4e2753;
  cursor: pointer;
}

#f1:active {
  background-color:#a13fad;
}

#f1 {
  background-color: #331f35;
  border: 5px #a13fad;
  border-style: outset;
}





#g1:hover {
  background-color:#6f3a62;
  cursor: pointer;
}

#g1:active {
  background-color:#f26fd4;
}

#g1 {
  background-color: #43293d;
  border: 5px #f26fd4;
  border-style: outset;
}




#ab2:hover {
  background-color:#661920;
  cursor: pointer;

}

#ab2:active {
  background-color:#db1d2d;
}

#ab2 {
  background-color: #3e181b;
  border: 5px #db1d2d;
  border-style: outset;
}





#bb2:hover {
  background-color:#6e2819;
  cursor: pointer;

}

#bb2:active {
  background-color:#f0421c;
}

#bb2 {
  background-color: #422018;
  border: 5px #f0421c;
  border-style: outset;
}





#c2:hover {
  background-color:#735b20;
  cursor: pointer;
}

#c2:active {
  background-color:#fec02d;
}

#c2 {
  background-color: #45391b;
  border: 5px #fec02d;
  border-style: outset;
}





#db2:hover {
  background-color:#1b613b;
  cursor: pointer;
}

#db2:active {
  background-color:#20d071;
}

#db2 {
  background-color: #193c29;
  border: 5px #20d071;
  border-style: outset;
}





#eb2:hover {
  background-color:#184d65;
  cursor: pointer;
}

#eb2:active {
  background-color:#1a9ddb;
}

#eb2 {
  background-color: #18323e;
  border: 5px #1a9ddb;
  border-style: outset;
}





#f2:hover {
  background-color:#4e2753;
  cursor: pointer;
}

#f2:active {
  background-color:#a13fad;
}

#f2 {
  background-color: #331f35;
  border: 5px #a13fad;
  border-style: outset;
}





#g2:hover {
  background-color:#6f3a62;
  cursor: pointer;
}

#g2:active {
  background-color:#f26fd4;
}

#g2 {
  background-color: #43293d;
  border: 5px #f26fd4;
  border-style: outset;
}




#ab3:hover {
  background-color:#661920;
  cursor: pointer;

}

#ab3:active {
  background-color:#db1d2d;
}

#ab3 {
  background-color: #3e181b;
  border: 5px #db1d2d;
  border-style: outset;
}
